<div *ngIf="ready">

    <div *ngIf="(treemd.diepte > 0)" class="tree-nav0"
         [ngStyle]="{'top.px': sizeI.boxT + 2,
                     'height.px': sizeI.footer - sizeI.boxT - 4}">
        <div *ngFor="let navFilter of treemd['filter'][0]['menu2']; let j=index"
             class="button2"
             [style.background-color]="getStyle1(j, 0)"
             (click)="enterItem(j, 0, navFilter)"
             on-mouseenter="enterItem(j, 0, navFilter)"
             on-mouseleave="leaveItem()">
            {{navFilter}}
        </div>
    </div>

    <div *ngIf="(treemd.diepte > 1)" class="tree-nav1"
         [ngStyle]="{'top.px': sizeI.boxT + 2,
                     'height.px': sizeI.footer - sizeI.boxT - 4}">
        <div *ngFor="let navFilter of treemd['filter'][1]['menu2']; let j=index"
             class="button2"
             [style.background-color]="getStyle1(j, 1)"
             (click)="enterItem(j, 1, navFilter)"
             on-mouseenter="enterItem(j, 1, navFilter)"
             on-mouseleave="leaveItem()">
            {{navFilter}}
        </div>
    </div>

    <div *ngIf="(treemd.diepte > 2)" class="tree-nav2"
         [ngStyle]="{'top.px': sizeI.boxT + 2,
                     'height.px': sizeI.footer - sizeI.boxT - 4}">
        <div *ngFor="let navFilter of treemd['filter'][2]['menu2']; let j=index"
             class="button2"
             [style.background-color]="getStyle1(j, 2)"
             (click)="enterItem(j, 2, navFilter)"
             on-mouseenter="enterItem(j, 2, navFilter)"
             on-mouseleave="leaveItem()">
            {{navFilter}}
        </div>
    </div>

    <div class="palet"
         [ngStyle]="{'top.px': sizeI.boxT + 10,
                     'height.px': sizeI.footer - sizeI.boxT,
                     'left.px': (treemd.diepte * 190 + 20)}">
        <div *ngFor="let pictNr of treemd['contents'][treemd['path']]; let i = index">
            <figure *ngIf="i > 0"
                    (click)="click$.next()"
                    [style.outline]="getStyle2(i)"
                    (click)="selectPict(i)">
                <img src="./thumb/{{pictNr['name']}}">
            </figure>
        </div>
    </div>

    <div *ngIf="extraInfo['inter']"
         class="FC2"
         (click)="interActie(1)">
        SOURCE : {{treemd['sourceInfo']['tekst']}}
    </div>
    <div *ngIf="extraInfo['inter']"
         class="FC3"
         (click)="interActie(2)">
        GOAL : {{treemd['goalInfo']['tekst']}}
    </div>

</div>
