<div class="drop-container"
     [ngStyle]="{'top.px': ((sizeI.footer + sizeI.boxT)/4 - 160),
                     'left.px': ((sizeI.breedte / 2) - 160)}">
    <h2>UpLoading</h2>
    <label class="upload-button">
        <input type="file" ngFileSelect (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" multiple>
        choose file(s)
    </label>
</div>

<div class="infoConsole"
     [ngStyle]="{'top.px': (3 * (sizeI.footer + sizeI.boxT)/4 - 300),
                     'left.px': ((sizeI.breedte / 2) - 310)}"
     [innerHtml]="infoConsole.secure">
</div>
